.App {
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: white;
  height: 100vh;
}




.content {
  min-height: 60px;
  min-width: 60px;
    height:80%; /* = 100% - 2*10% padding */
  width:90%; /* = 100% - 2*5% padding */
}